<div class="dashboard-page page-bg">
  <mat-card class="dashboard-card app-card">
    <h1 class="page-title">{{ 'dashboard.title' | t }}</h1>

    @if (loading) {
      <p>{{ 'common.loading' | t }}</p>
    }

    @if (errorMessage) {
      <p class="error">{{ errorMessage }}</p>
    }

    @if (user) {
      <div class="user-info info-box">
        <p>
          <strong>{{ 'dashboard.id' | t }}:</strong>
          {{ user.id }}
        </p>
        <p>
          <strong>{{ 'common.email' | t }}:</strong>
          {{ user.email }}
        </p>
        <p>
          <strong>{{ 'dashboard.role' | t }}:</strong>
          <mat-chip
            [class.admin-chip]="user.role === 'ADMIN'"
            [class.user-chip]="user.role === 'USER'"
          >
            {{ user.role }}
          </mat-chip>
        </p>

        <p>
          <strong>{{ 'dashboard.active' | t }}:</strong>
          @if (user.active) {
            <mat-chip class="success-chip">{{ 'common.yes' | t }}</mat-chip>
          } @else {
            <mat-chip class="danger-chip">{{ 'common.no' | t }}</mat-chip>
          }
        </p>

        <p>
          <strong>{{ 'common.createdAt' | t }}:</strong>
          {{ user.createdAt | date:'dd MMM yyyy, HH:mm' }}
        </p>
      </div>

      <div class="button-group">
        <button mat-raised-button class="primary-gradient-btn" routerLink="/profile">
  {{ 'dashboard.myProfile' | t }}
</button>

        <button mat-raised-button class="primary-gradient-btn" routerLink="/sessions">
          {{ 'dashboard.mySessions' | t }}
        </button>

        @if (user.role === 'ADMIN') {
          <button mat-raised-button class="primary-gradient-btn" routerLink="/admin/users">
            {{ 'dashboard.adminUsers' | t }}
          </button>

          <button mat-raised-button class="primary-gradient-btn" routerLink="/admin/audit-logs">
            {{ 'dashboard.auditLogs' | t }}
          </button>
        }

        <button mat-raised-button class="danger-gradient-btn" (click)="logout()">
          {{ 'common.logout' | t }}
        </button>
      </div>
    }
  </mat-card>
</div>